body{
    background-color:rgb(245, 244, 244);
    font-family: Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
}
.container{
    width:80%;
    margin:0 auto;
    padding:0;
    border:1px solid rgb(252, 252, 252);
    border-radius: 10px;
    background-color: white;
    box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.2);
-webkit-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.2);
-moz-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.2);
}

section{
    margin-bottom: 40px;
}
.employee_form{
    margin:20px;
    border-radius: 10px;
    border: 1px solid #b3d9ff;
    background-color: aliceblue;
    padding: 20px;
}

label{
    font-weight: bold;
    margin-bottom: 20px;
}

input,select{
    width:100%;
    border-radius:5px;
    border:1px solid #ccc;
    padding:10px;
    box-sizing: border-box;
}

.form-group{
    margin-bottom: 10px;
}

button{
    color: azure;
    background-color: #007bff;
    border-radius:25px;
    text-transform: capitalize;
    width:100%;
    border-radius:5px;
    border:1px solid black;
    padding:10px;
    font-size: 16px;
}

.employee_list{
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 20px;
    margin:20px;
}

ol{
    width: 97%;
}
li{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.employee_details{
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 20px;
    margin:20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead th{
    background-color: #007bff;
    color: white;
    font-weight: bold ;
    padding: 20px;
    text-align: left;
}

tbody td{
    border-bottom: 1px solid #ccc;
    padding: 25px;
    margin: 10px;
    text-align: left;
}

img{
    border-radius: 50px;
}

.company_location{
    text-align: center;
    margin: 20px;
}

#location{
    width:100%;
    border-radius: 10px;
    border: 0px solid #ccc;
    background-color: rgb(255, 255, 255);
    
}

